/*
* Beat 2.0
* Author: Leonardo Finetti
* http://www.finex.org
* http://www.themes-drupal.org
* 7/06/2009
*/


body{
  border:0;
  padding:0;
  margin:0;
  text-align:center;
  font: 12px Helvetica, Verdana, Arial, sans-serif;
  line-height:2em;
  background-color:white;
  color:#444444;
}


p{
  padding:0;
}

a{
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

tbody{
  border:0;
}


div.wrapper{
  width:100%;
  clear:both;
}

.column{
  width:960px;
  margin:0 auto;
  text-align:left;
}
#full-content{
  background-image:url(img/main_bg.jpg);
  background-repeat:repeat-y;
}
#top {
  background-color:black;
  color:white;
  padding:4px;
  text-align:right;
}



#secondary a{
  color:white;
}

#secondary a:hover{
  text-decoration:underline;
}


/* HEADER */

#header{
  width:100%;
  height:80px;
  background-image:url(img/hdr_bg.png);
  background-repeat:repeat-x;
  color:white;
}


/* PRIMARY */
#primary{
  width:100%;
  margin-bottom:50px;
/*   margin-top:20px; */
  padding-left:5px;
}

#primary ul.links li{
  padding:0 15px 0 0;
}

#primary_links{
  color:#898989;
  width:100%;
  display:block;
  font-size:16px;
  padding:15px 0 15px 0;
}

#primary_links a{
  color:#898989;
  padding:0 1px 5px 1px;
  border-bottom:3px solid #BABABA;
}

#primary_links li a.active{
  color:black;
  border-bottom:3px solid black;
  text-decoration:none;
}

#primary_links li a:hover{
  color:#3E85FF;
  border-bottom:3px solid #3E85FF;
  text-decoration:none;
}


/* PAGE */

#page{
  width:755px;
  float:left;
  padding-right:5px;
  padding-left:5px;
}


#full{
  width:960px;
  clear:both;
  padding:0;
}


#page_content{
  margin-bottom:15px;
}

/* NODE */

.node_content{
  width:565px;
  display:block;
  float:right;
  text-align:justify;
  border-left:5px solid #dadada;
  padding-left:10px;
}

.node h2.title{
  margin-bottom:10px;
}


/* SIDEBAR */

#sidebar{
  width:170px;
  font-size:12px;
  line-height:1.7em;
  float:right;
}

/* FOOTER */

#footer{
  background-color:#3A3A3A;
  color:white;
  width:100%;
  display:block;
  padding-top:10px;
/*   border-bottom:5px solid #cacaca; */
}

#footer .block{
  text-align:justify;
}

div#footer_left{
  float:left;
  width:755px;
}
div#footer_right{
  float:right;
  width:160px;
}

div#footer_bottom{
  text-align:center;
  padding:5px;
}

#top a,
#footer a{
  color:#39D8FF;
}



div#footer li{
  list-style-image:url(img/arrow.png);
}

div#footer .block ul{
  padding: 0 0 0 17px;
}

/* IMMAGINI */

div#page img{
  padding:2px;
  border: 2px solid  #39d8ff;
  margin:5px;
  float:left;
}

/* HEADINGS */

h1, h2{
  color:gray;
}

h2 {
  padding:0;
  margin:0
}

div#main h2,
div#main h1{
  font-size:20px;
}

div#sidebar h2,
div#footer h2{
  font-size:14px;
  border-left:5px solid #39d8ff;
  padding-left:5px;
  margin-bottom:10px;
}

h1#sitename a{
  color:#5a5a5a;
  font-size:40px;
  padding-left:5px;
}

h1#sitename a:hover{
  text-decoration:none
}

/* LINKS */

a,
a:link,
a:visited,
a:active,
a:hover{
  color:#3E85FF;
}

h2.title a,
h2.title a:link,
h2.title a:visited,
h2.title a:active{
  color:gray;
  font-weight:normal;
  font-size:20px;
}

div.meta a,
div.meta a:link,
div.meta a:visited,
div.meta a:active,
div.meta a:hover,
div.taxonomy a,
div.taxonomy a:link,
div.taxonomy a:visited,
div.taxonomy a:active,
div.taxonomy a:hover{
  color:#3E85FF;
}

div#sidebar a,
div#sidebar a:link,
div#sidebar a:visited,
div#sidebar a:active,
div#sidebar a:hover{
  color:white;
}

/* NODE */

div#page .node{
  margin-bottom:60px;
}

div#page .comment{
  padding:5px;
  margin-bottom:20px;
  background-color:#f9fbfe;
  border: 1px solid #D1E0FE;
}

.comment_content{
  width:530px;
  display:block;
  float:right;
  text-align:justify;
  border-left:5px solid #D1E0FE;
  padding-left:10px;
}

.comment .meta .links{
 margin-top:15px;
}
.comment ul.links{
  border-top:1px solid #D1E0FE;
}



blockquote{
  border-left: 2px dotted #CECECE;
  padding-left: 10px;
  margin-left: 5px;
}


/* EXTRA INFO */

.meta{
  width:170px;
  float:left;
  line-height:1.8em;
/*   font-size:9px; */
}

div.meta, div.taxonomy{
  color:#626262;
  font-size:10px;

}

.taxonomy{
  padding:0 0 0 15px;
  background-image:url(img/tag_blue.png);
  background-position:center left;
  background-repeat:no-repeat;
}

.meta_comment{
  padding:0 0 0 20px;
  background-image:url(img/comments.png);
  background-position:center left;
  background-repeat:no-repeat;
  margin-bottom:10px;
}

.taxonomy ul.links li{
 padding:0 4px 0 5px;
}
.taxonomy {
padding-top:10px;
padding-bottom:10px;
}

.pager{
  margin-top:40px;
  color:#626262;
}

/* SIDEBAR / FOOTER */

div#sidebar ul{
 padding:0;
}

div#sidebar li{
  list-style-type:none;
  margin:0;
  border-bottom:1px dotted #5a5a5a;

}

div#sidebar .view-data-node-changed{
  font-size:10px;
  color:gray;
}


#sidebar .block{
  padding-left:10px;
  margin-bottom:15px;
}

#sidebar li.collapsed,#sidebar li.leaf{
 list-style-image:none;
}

#sidebar .block-comment li,
#sidebar .block-similar li{
  margin-bottom:10px;
}

div#sidebar .block-comment li,
div#sidebar .block-similar li{
  color:gray;
}

div#footer_content{
  padding:0;
}

#sidebar .block,
#footer .block{
  margin-bottom:40px;
}








.node .content ul {
  position:relative;
  left:16px;
}




h1#sitename {
  margin:0;
  line-height:80px;
}

h1#sitename a,
h1#sitename a:link,
h1#sitename a:hover {
  color:white;
  font-size:36px;
}

#top .column{
  text-align:right;
  font-size:0.9em;
}

select,
textarea,
input {
  border: 1px solid #39D8FF;
  background-color:#F4F4F4;
}


select#edit-theme{
  width:80px;
  float:left;
/*   margin-left:10px; */
}
input#switchtheme-submit{
  width:50px;
  float:right;
  margin-right:10px;
}


body{
  background-color:#4a8585;
}

#texture{
  background-image:url(img/bg.jpg);
  background-position:top center;
  background-repeat:repeat-y;
}

.block-switchtheme{
  clear:both;
}